<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: url("https://cdn.dribbble.com/users/5349290/screenshots/16218240/media/dd3f03302cef3b447b21ee27226c744b.png?resize=800x600&vertical=center.jpg")
          no-repeat center center fixed;
        background-size: cover;
      }

      nav {
        background-color: rgb(0, 187, 177);
        color: #ffffff;
        padding: 10px 0;
        text-align: center;
      }

      nav a {
        color: #ffffff;
        text-decoration: none;
        margin: 0 15px;
      }

      nav a:hover {
        text-decoration: underline;
      }

      h1 {
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <nav>
      <!-- <a href="/">home</a> -->
      <a href="/users/signup">signup</a>
      <a href="/users/login">login</a>
    </nav>
    <!-- <h1><%= title %></h1> -->
  </body>
</html>
